@import 'global/normilize.scss';
@import 'global/libs.scss';
@import 'global/vars.scss';
@import 'global/mixins.scss';
@import 'global/fonts.scss';
@import 'global/s-icon.scss';
@import 'global/global.scss';

// @import 'components/popup.scss';

// @import 'blocks/header.scss';

// @import 'blocks/footer.scss';
@import 'components/m-house-type.scss';
@import 'components/m-number.scss';
@import 'components/m-radio.scss';
@import 'components/m-select.scss';

@import 'blocks/m-quiz.scss';

.container {
  max-width: 1234px;
  padding: 10px;
  margin: 0 auto;
}
