$max: 1400px;
$elg: 1300px;
$lg: 1279px;
$md: 991px;
$sm: 767px;
$xs: 567px;
$mobile-min: 359px;

$white: #fff;
$black: #373738;
$cta: #ffaa6b;

$main-font: 'Stolzl', sans-serif;

@mixin c-pointer {
  cursor: pointer;
}

@mixin c-default {
  cursor: default;
}
