.m-quiz {
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: relative;

    height: 15px;
    margin-bottom: 20px;

    background: none;
    border-radius: 5px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      z-index: 0;

      width: 100%;
      height: 5px;

      background-color: #bbb;
    }
  }

  .swiper-scrollbar-drag {
    position: relative;
    z-index: 1;

    height: 15px;

    border-radius: 15px;
    background-color: $cta;
  }

  .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    position: relative;

    height: 15px;
    overflow: hidden;
    margin-bottom: 23px;

    border-radius: 15px;
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;

      height: 5px;
      width: 100%;

      background-color: #bbbbbb;
      border-radius: 5px;
    }
  }

  .swiper-pagination-progressbar-fill {
    background-color: $cta;
    border-radius: 150px;
  }

  .swiper {
    background-color: $white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 30px;
  }

  .simplebar-track.simplebar-vertical {
    top: 25px;
    bottom: 25px;
    right: 7px;

    @media (max-width: $sm) {
      right: 2px;
    }

    width: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 3px;
      background: #bbb;
      border-radius: 5px;
    }
  }

  .simplebar-scrollbar::before {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 10px;
    margin: -2px 0;

    background-color: $cta;
    opacity: 1;
  }
}

.m-quiz {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  *,
  &::after,
  &::before {
    box-sizing: inherit;
  }

  // .m-quiz__pagination-count

  &__pagination-count {
    margin-bottom: 23px;

    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
  }

  // .m-quiz__pagination-current

  &__pagination-current {
    font-weight: 700;
    margin-right: 5px;
  }

  // .m-quiz__pagination-total

  &__pagination-total {
  }

  // .m-quiz__slider

  &__slider {
    width: 100%;
    max-width: calc(100% - 382px - 34px);

    @media (max-width: $lg) {
      max-width: 798px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: $md) {
      max-width: 738px;
    }
  }

  // .m-quiz__slide

  &__slide {
    max-height: 450px;
    padding: 25px 0;

    @media (max-width: $sm) {
      max-height: none;
    }

    &:first-child {
      @media (max-width: $sm) {
        max-height: 450px;
      }
    }

    &[data-simplebar] {
      overflow-x: hidden;
    }
  }

  // .m-quiz__navigation

  &__navigation {
    display: flex;
    justify-content: center;
  }

  // .m-quiz__btn

  &__btn {
    position: relative;

    max-width: 303px;
    width: 100%;
    padding: 13px 25px;

    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

    background-color: $cta;
    box-shadow: 0px 2px 0px #000000;
    border: none;
    border-radius: 20px;
    outline: transparent;

    transition: background-color 0.25s;

    &:hover {
      background-color: darken($cta, 5%);
    }

    &:active {
      background-color: darken($cta, 10%);
    }

    &.hide {
      // display: none;
      pointer-events: none;
      @include c-default;
      background: #dadada;
    }

    // .m-quiz__btn--prev

    &--prev {
      margin-right: 30px;
    }

    // .m-quiz__btn--next

    &--next {
    }

    &:disabled {
      @include c-default;
      background: #dadada;

      &:not(.hide) {
        .m-quiz__btn-prompt {
          opacity: 1;
        }
      }
    }
  }

  // .m-quiz__btn-prompt

  &__btn-prompt {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;

    color: red;
    font-size: 12px;

    opacity: 0;

    transition: opacity 0.4s;

    @media (max-width: $xs) {
      min-width: 300px;
      left: auto;
    }
  }

  // .m-quiz__title

  &__title {
    margin-bottom: 25px;
    padding: 0 15px;

    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;

    @media (max-width: $sm) {
      max-width: 97%;
      font-size: 28px;
    }

    @media (max-width: $xs) {
      font-size: 24px;
    }
  }

  // .m-quiz__types

  &__types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 25px;

    @media (max-width: $xs) {
      justify-content: center;
      padding: 0 15px;
    }
  }

  // .m-quiz__house-type

  &__house-type {
    max-width: 236px;
    width: 100%;
    margin-bottom: 25px;

    @media (max-width: $md) {
      max-width: 216px;
    }

    @media (max-width: $sm) {
      max-width: calc(50% - 3vw);
      min-height: 167px;
    }

    @media (max-width: $xs) {
      max-width: 320px;
    }
  }

  // .m-quiz__info

  &__info {
    position: relative;

    max-width: 382px;
    width: 100%;
    padding: 67px 45px 169px;

    text-align: center;

    background: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    @media (max-width: $lg) {
      display: none;
    }
  }

  // .m-quiz__questions-progress

  &__questions-progress {
    color: $black;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;

    span {
      font-weight: 700;
      color: #000;
    }
  }

  // .m-quiz__info-text

  &__info-text {
    margin: 30px 0;

    font-size: 22px;
  }

  // .m-quiz__discount

  &__discount {
    display: flex;
    flex-direction: column;

    color: $cta;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
  }

  // .m-quiz__discount-number

  &__discount-number {
    color: $black;
    font-size: 150px;
    font-weight: inherit;
  }

  // .m-quiz__discount-image

  &__discount-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 164px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .m-quiz__form

  &__form {
    display: flex;
    padding: 0 30px 0 35px;

    @media (max-width: $sm) {
      flex-direction: column-reverse;
      padding: 0 15px 0;
    }
  }

  // .m-quiz__form-left

  &__form-left {
    margin-right: 30px;
    flex-basis: 300px;

    @media (max-width: $sm) {
      margin-right: 0;
      max-width: 97%;
    }

    // .m-quiz__form-left--centered

    &--centered {
      display: flex;
      align-items: center;

      @media (max-width: $sm) {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    // .m-quiz__form-left--column

    &--column {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: $sm) {
        align-items: center;
      }
    }
  }

  // .m-quiz__form-image

  &__form-image {
    width: 402px;
    min-height: 342px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;

    @media (max-width: $sm) {
      width: 100%;
      max-width: 402px;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    @media (max-width: $xs) {
      max-width: 97%;
      height: 65vw;
      min-height: auto;
      max-height: 342px;
      margin-bottom: 20px;
    }
  }

  // .m-quiz__row

  &__row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .m-radio {
      width: calc(50% - 7px);
    }

    // .m-quiz__row--column

    &--column {
      flex-direction: column;
      width: 100%;

      @media (max-width: $sm) {
        align-items: center;
        justify-content: flex-start;
      }

      .m-radio {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }

  // .m-quiz__signature

  &__signature {
    max-width: 255px;
    margin-top: 21px;

    font-size: 18px;
    font-weight: 400;
  }

  // .m-quiz__final

  &__final {
    padding-left: 43px;
    max-width: 513px;

    @media (max-width: $sm) {
      max-width: 97%;
      display: flex;
      flex-direction: column;
      padding: 0 15px;
    }
  }

  // .m-quiz__final-title

  &__final-title {
    margin-bottom: 10px;
    padding-left: 43px;

    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;

    @media (max-width: $sm) {
      order: 5;
      padding: 0 15px;
    }

    @media (max-width: $xs) {
      font-size: 20px;
    }
  }

  // .m-quiz__final-text

  &__final-text {
    margin: 0 0 25px;

    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 465px;

    @media (max-width: $sm) {
      order: 1;
      margin: 10px 0;

      font-size: 16px;
    }
  }

  // .m-quiz__final-suptitle

  &__final-suptitle {
    margin: 0 0 10px;

    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;

    @media (max-width: $sm) {
      order: 1;
    }
  }

  // .m-quiz__social

  &__social {
    display: flex;
    margin-bottom: 25px;

    @media (max-width: $sm) {
      order: 1;
    }

    @media (max-width: $xs) {
      flex-wrap: wrap;
      align-items: center;
    }
  }

  // .m-quiz__socia-item

  &__socia-item {
    max-width: 134px;
    width: 100%;

    @media (max-width: $xs) {
      max-width: calc(50% - 4px);
      margin: 0 2px;
    }

    &:not(:last-child) {
      margin-right: 15px;

      @media (max-width: $xs) {
        margin-right: 2px;
        margin-bottom: 10px;
      }
    }

    &:last-child {
      @media (max-width: $xs) {
        max-width: 100%;
      }
    }
  }

  // .m-quiz__social-btn

  &__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    width: 100%;

    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;

    border-radius: 10px;
    border: 1px solid $black;
    background-color: transparent;
    outline: transparent;

    transition: background-color 0.2s;

    @media (max-width: $xs) {
      // justify-content: flex-start;
    }

    &.active {
      background-color: $cta;

      .s-icon {
        fill: white;
      }
    }

    .s-icon {
      width: 36px;
      height: 36px;
      margin-right: 5px;
      fill: black;
    }
  }

  // .m-quiz__final-number

  &__final-number {
    max-width: 303px;

    @media (max-width: $sm) {
      order: 2;
      max-width: 300px;
    }
  }

  // .m-quiz__final-btn

  &__final-btn {
    max-width: 301px;
    width: 100%;
    padding: 13px 25px;
    margin-top: 10px;

    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;

    background: #ffaa6b;
    border: none;
    box-shadow: 0px 2px 0px #000000;
    border-radius: 20px;

    transition: background-color 0.25s;

    @media (max-width: $sm) {
      order: 3;
    }

    @media (max-width: $xs) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      background-color: darken($cta, 5%);
    }

    &:active {
      background-color: darken($cta, 10%);
    }
  }

  // .m-quiz__final-image

  &__final-image {
    position: absolute;
    bottom: 0px;
    right: 30px;

    width: 242px;
    height: 324px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: $md) {
      right: 0;
    }

    @media (max-width: $sm) {
      position: static;
      order: 1;
      height: 50vw;
      max-height: 180px;
      width: 100%;
      max-width: 300px;
    }
  }
}
